<!-- add review html page-->

<h1 class='head'>Add New Review</h1>
 
<form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
    <table id="user1">
        <tr>
            <th>
                Song ID
            </th>
            <th>
                User ID
            </th>
            <th>
 		Review text
            </th>
            <th>
                Rating
                   </th>
        </tr>
        <tr>
            <td>
                <input type="text" id="songId" name="songId" required ngModel>
            </td>
            
            <td>
                <input type="text" id="userId" name="userId" required ngModel>
            </td>
 		<td>
                <input type="text" id="reviewtext" name="reviewtext" required ngModel>
            </td>
            <td>
                <input type="text" id="rating" name="rating" required ngModel>
            </td>
            <td>
                <button type="submit" id="sub">Submit</button>
            </td>
 
        </tr>
    </table>
</form>

<h1>Songs List</h1>
    
<ul *ngIf="brews">   

    <li *ngFor="let brew of brews">
      <div *ngIf="brew.hidden == 'false'">
      <p class="title">Title: {{ brew.title }}</p>
      <p class="title">song id: {{ brew._id }}</p>
    </div>
    </li>   
</ul>